<nz-layout class="default-layout">
    <nz-sider class="sidenav" nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzZeroTrigger]="null"
        [nzCollapsedWidth]="0" [nzWidth]="400">
        <!-- <div class="title">
                       Nickname {{ authenticated.profile.name }}
                </div> -->
        <h1 style="color: white">INFO</h1>
    </nz-sider>

    <body>
        <div style="background-color: #000000; width: 90%; height: 90%; margin-top: 3%; margin-left: 5%;">
            <canvas id="canvas"></canvas>
            <!-- <script src="script01.js"></script> -->
        </div>
    </body>
</nz-layout>