<!DOCTYPE html>
<html>

<body>
    <div fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
        <nz-card style="width: 400px; height: 400px; border-color:black;" class="z-depth-1">
            <form nz-form [formGroup]="inputv" (ngSubmit)="submit()" (keyup.enter)="submit()">
                <h1 style="text-align: center;">PAC-MAN Battle Royale</h1>
                <br><br>
                <nz-form-item>
                    <input type="text" nz-input formControlName="email" placeholder="Nickname (ar ji matys kiti zaidejai?)"
                        style="text-align: center; border-color:black;" />
                    <!-- <ng-template #emailErrorTpl let-control>
                            <ng-container *ngIf="control.hasError('required')">
                                Please input your email!
                            </ng-container>
                            <ng-container *ngIf="control.hasError('email')">
                                Invalid email format!
                            </ng-container>
                        </ng-template> -->
                </nz-form-item>
            </form>
            <!-- <nz-divider nzDashed></nz-divider> -->
            <a [routerLink]="['/', 'arena']"><button
                    style="color:black; background-color:dodgerblue; font-size: 140%; border-color:black;" nz-button
                    nzBlock nzType="default" (click)="submit()">
                    Play
                </button></a>
        </nz-card>
    </div>

</body>

</html>